<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginWithAnimation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.predict.PredictActivity"
            android:exported="false" />
        <activity
            android:name=".view.addproperty.AddPropertyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".view.detailbuilding.DetailBuildingActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.detailprofile.DetailProfileActivity"
            android:exported="false" />
    </application>

</manifest>